!!! transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //
       Facebook sharing information tags 
    meta(property='og:title', content='You have a booking')
    title You have a booking
  body
    table(border='0', align='center')
      tr
        td(align='center', style='background-color: #d4d4d4; color: #000;')
          img(src='#{image}', alt='Artmojo')
          br
          br
          br
          div(align='justify')
            | Hi #{artistName}
            br
            br
            | #{textToSend}
            
            br
            br
            br
            br
      tr
        td(align='center', style='padding: 20px 0 20px 0; background-color: #292929; color: #fff;')
          a(href='https://twitter.com/TheArtMojo', style='color: #fff; text-decoration: none;') Twitter
          | |
          a(href='https://www.facebook.com/TheArtMojo', style='color: #fff; text-decoration: none;') Facebook
          | |
          a(href='http://theartmojo.tumblr.com/', style='color: #fff; text-decoration: none;') Tumblr
          br
          br
          | Copyright © 2013 Artmojo.co, All rights reserved
