!!! 5
html
  head
    title Confirmation email from Artmojo
  body
    table(border='0', width='100%')
      tr
        td(align='center')
          img(src='https://artmojo.co/images/logo.png')
          div(style='paading-top: 25px; text-align: justify;')
            | Hi #{name},
            br
            br
            h2 Welcome to artmojo
            #{textToSend}