extends ../layout

block content
    script(type='text/javascript', src='/javascripts/uiControllers/ArtistView.js')
    script(type='text/javascript')
        $(function() {
                loadCredCat();
        });
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        include ../elements/event_search
        .loginContent
          .contentIn
            .ourstoryHeader
              h2
                | Add Credential
                span 
            .signupForm
              form#credentialAddFrm( method='post', action='/artist/credential/doaddcredential', name='credentialAddFrm', onsubmit='return validateCredentialFrm();')
                .signupFormRow
                  label Category:
                  select(name='categoryId', id='categoryId')
                .signupFormRow
                  label Title:
                  input(type="text", name="title", id="title")
                .signupFormRow
                  label Role:
                  input(type="text", name="role", id="role")
                .signupFormRow
                  label Production:
                  input(type="text", name="production", id="production")
                  span
                    | 
                  input(type='submit', value='Add', name='')
                .clr
            .clr
          .clr
    //
      / Container
    include ../elements/footer
    //
      / Footer
