extends ../layout

block content
    script(type='text/javascript', src='/javascripts/uiControllers/ArtistView.js')
    script(type='text/javascript')
            $(function() {
                    loadMyCredentials(1);
                    loadMyCredentials(2);
                    loadMyCredentials(3);
            });
                    
            
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        include ../elements/search
        .content
          .contentIn
            .ourstory
              .ourstoryHeader
                h2 My Details >> Credentials
              p
                landingContainer
                    .tab2
                        ul
                          li
                            a#artistTab.activeTab(href='/artists/mycredentials', rel='tab_changer') My Credentials
                          li
                            a#courseTab(href='/artists/myimages', rel='tab_changer') My Images
                          li
                            a#schoolTab(href='/artists/myvideos', rel='tab_changer') My Videos
                          li
                            a#eventTab(href='/artists/myaudios', rel='tab_changer') My Audios
                   .clr
                    .listDiv
                        #add
                           a(href="/artists/credentials/public/add", class="clickButtons_v3") Add Credential
                    .listDiv
                        #myList
                            table(border='0', width='100%')
                                tr
                                  td
                                    strong Film & Television
                                tr
                                  td#myCat1
                                tr
                                  td
                                    strong Selected Radio
                                tr
                                  td#myCat2
                                tr
                                  td
                                    strong Selected Theatre
                                tr
                                  td#myCat3

            
    //
      / Container
    include ../elements/footer
    //
      / Footer
