.searchForm
          form#searchFrm(method='get', action='/events', name='searchFrm')
            .selectWrapper
              select#categorySrch.selectCss(name='categorySrch', onchange='loadEventIndexUi();')
                option(value="") All
            .selectWrap
                input#search_data(type='text', name='eventTitle', placeholder='What?', value= eventTitle ? eventTitle : '', onchange="setSrchTxt(this.value);", onkeyup="setSrchTxt(this.value);")
            
            .selectWrap
                input#userCity(type='text', name='location', placeholder='Where?', value= location ? location : '', onchange="setLocation(this.value); loadEventIndexUi();", onkeyup="setLocation(this.value); loadEventIndexUi();")
            input(type='Submit', value='Search Events')