extends ../layout

block content
    script(type='text/javascript', src='/javascripts/uiControllers/Country.js')
        
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        
        .loginContent
          .contentIn
            .ourstoryHeader
              h2
                | Edit country
                span It’s free & always will be.
            .signupForm
              form#countryAddFrm( method='post', action='/country/doedit', name='countryAddFrm', onsubmit='return validateCountryFrm();')
                
                .signupFormRow
                  label Name:
                  input(type="text", name="name", id="name", value="#{country.name}")
                  input(type="hidden", name="id", id="id", value="#{country.id}")
                  span
                    | Admin has all the rights to deactivate the country without any prior notice to the user. .
                  input(type='submit', value='Edit', name='')
                .clr
            .clr
          .clr
    //
      / Container
    include ../elements/footer
    //
      / Footer
