extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/admin_table.css')
    script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
    script(type='text/javascript', src='/javascripts/uiControllers/Booking.js')
    script(type='text/javascript')
            $(function() {
                    
                   loadRequests();
            });
                    
            
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        
        .content
          .contentIn
            .ourstory
              .ourstoryHeader
                h2 Booking Requests For me
              p
                landingContainer
                    .tab2
                        ul
                          li
                            a#artistTab(href='/mybookings', rel='tab_changer') Requests made
                          li
                            a#courseTab.activeTab(href='/requests', rel='tab_changer') Requests received
                          li
                            a#schoolTab(href='#', rel='tab_changer') Transactions
                          li
                            a#eventTab(href='#', rel='tab_changer') Balance
                   .clr
                    .listDiv
                        #bookingList

            
    //
      / Container
    include ../elements/footer
    //
      / Footer
