!!! transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //
       Facebook sharing information tags 
    meta(property='og:title', content='Confirmation email from Artmojo')
    title Confirmation email from Artmojo
  body
    table(border='0', align='center')
      tr
        td(align='center', style='background-color: #d4d4d4; color: #000;')
          img(src='#{image}', alt='Artmojo')
          br
          br
          br
          div(align='justify')
            | Hi #{name}
            br
            br
            | Welcome to Artmojo
            br
            | This is the last step to complete your registration process.
            br
            | Click the link below to verify your email account to start exploring artmojo.co.
            br
            a(href='#{link}') Click to verify
            br
            br
            br
            br
      tr
        td(align='center', style='padding: 20px 0 20px 0; background-color: #292929; color: #fff;')
          a(href='https://twitter.com/TheArtMojo', style='color: #fff; text-decoration: none;') Twitter
          | |
          a(href='https://www.facebook.com/TheArtMojo', style='color: #fff; text-decoration: none;') Facebook
          | |
          a(href='http://theartmojo.tumblr.com/', style='color: #fff; text-decoration: none;') Tumblr
          br
          br
          | Copyright © 2013 Artmojo.co, All rights reserved
