extends ../layout

block content
    
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        include ../elements/search
        .content
          .contentIn
            .teacherWrap
              .teacherImg2Wrap
                .teacherImg2
                  img(src='/images/dummy_user.gif', alt='#{user.full_name}', style='width:250px; max-height: 270px;')
                .socialShare2
                  
              .teacherDetail
                .teacherDetailTop
                  .teacherDetailTopLeft
                    h2 #{user.full_name}
                    br
                    a(href='/users/editlogininfo', class="clickButtons") Edit Profile 
                    br 
                    br
                    a(href='/allcategories', class="clickButtons") Categories
                    br 
                    br
                    a(href='/allcourses', class="clickButtons") Courses
                    br 
                    br
                    a(href='/allusers', class="clickButtons") Users
                    br 
                    br
                    a(href='/allartists', class="clickButtons_v2") Artists
                    br 
                    br
                    a(href='/allschools', class="clickButtons") Schools
                    br 
                    br
                    a(href='/alljobs', class="clickButtons") Jobs
                    br 
                    br
                    a(href='/allevents', class="clickButtons") Events
                    br 
                    br
                    a(href='/allbookings', class="clickButtons") Bookings
                    br 
                    br
                    a(href='/alltransactions', class="clickButtons") Transactions
                    br 
                    br
                    a(href='/allcountries', class="clickButtons") Countries
                    br 
                    br
                    a(href='/allstates', class="clickButtons") States
                    
                    
                    
                    
                    
                    
                    
                  .rating2
                    p 
                    .rating2Content
                      
                .subjectDetail
                  .subjectTaught
                    // h2 My Story:
                    
                      
                  
                
                  
              .clr
            
    //
      / Container
    include ../elements/footer
    //
      / Footer
    //
