extends ../layout

block content
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        .loginContent
          .contentIn
            .ourstoryHeader
              h2
                | Forgot your password?
                span Get your password on your email address that is registered with us.
            .signupForm
              form( method='post', action='#', name='resetFrm', id='resetFrm', onsubmit='doSendPassword(); return false;')
                .signupFormRow
                  label Your Email:
                  input(type="text", name="semail", id="semail")
                
                  
                  input(type='submit', value='Send Password', name='')
                .clr
            .clr
          .clr
    //
      / Container
    include ../elements/footer
    //
      / Footer
