extends ../layout

block content
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        include ../elements/search
        .content
          .contentIn
            .ourstory
              .ourstoryHeader
                h2 OUR STORY
              p
                | Artmojo is a unique space built just for artists like you to to work, teach, collaborate and play in. Being a part of Artmojo will open up a plethora of opportunities for you.
              ul(style='list-style-type:square;')
                    li 1. It gives you instant visibility when someone is searching for a teacher with your qualifications. 
                    li 2. It gives you a space to find and connect with new students, and a place where prospective students can find you.
                    li 3. We do all the dirty work. The marketing, site development and maintenance. So you can just concentrate on what you are passionate about: The Art.
            .ourstoryRow
              .ourstoryRowLeft
                .ourstoryRowLeftImg
                  img(src='images/about/Derya.jpg', alt='', style='width:175px;')
                .ourstoryRowLeftText
                  h2 Derya Yinanc
                  p Co-Founder/Master Chief
                  // a(href='#') derya.yinanc@raincheck.it
              .ourstoryRowRight
                p
                  | Derya is emerging as one of the top technical and business minds driving web and mobile application entrepreneurship based in Canada. Mr. Yinanc has a background in physics, electrical engineering, international business and investment banking, is a graduate of the IMBA program at the Schulich Business School at York University in Toronto and a graduate of master of engineering program of University of Alberta. Derya conducted research on solid state physics and astrophysics while studying at Rutgers University, NJ and was a founding and managing member of four high tech ventures in Information Technology (IT) field. In the last few years he focused on bringing technological and business innovation tackling diverse challenges plaguing humanity such as the climate change, and resultant food and water shortages all around the world. He is currently also the Executive Chairman of Quantum Ingenuity, an oil and gas skunk works outfit bringing world class innovation to vexing resource industry challenges. Lastly, he was the President of Gaia Shakti Group, a cutting edge renewable energy firm that established the largest ethanol feedstock trial in Western Canada in collaboration with First Nations.
                // a(href='#') More +
              .clr
            .ourstoryRow
              .ourstoryRowLeft
                .ourstoryRowLeftImg
                  img(src='images/about/Paul.jpg', alt='', style='width:175px;')
                .ourstoryRowLeftText
                  h2 Paul Harris
                  p Co-Founder
                  // a(href='#') paul.harris@raincheck.it
              .ourstoryRowRight
                p
                  | Paul is an active researcher studying fundamental electromagnetics, power transmission, high voltage electronics, biomass energy, hydrogen production, alternative fuels, hydrodynamics, noble gas chemistry, fluid mechanics, biochemistry and plasma physics. Previously Paul was a vibrant member of the internet revolution, acting as a founding member and Chief Technical Officer of iStockphoto. He also worked as a senior internet application designer for Webcore Labs / Evolvs. Paul has spent the last few years creating Aurea Media Inc, a leading CD / DVD replication house in Calgary Alberta. 
                // a(href='#') More +
              .clr
            .ourstoryRow
              .ourstoryRowLeft
                .ourstoryRowLeftImg
                  img(src='images/about/Robert.jpg', alt='', style='width:175px;')
                .ourstoryRowLeftText
                  h2 Dr. Robert Schulz
                  p Co-Founder
                  // a(href='mailto:robert.schulz@raincheck.it') robert.schulz@raincheck.it
              .ourstoryRowRight
                p
                  | Bob is a Professor in the Strategy and Global Management(SGMA) and Business and Environment(BSEN) areas. He has been teaching at the Haskayne School of Business since 1973. He received his BA(Mathematics) from St. Vincent College(Latrobe, Pa.), BS in Mechanical-Industrial from University of Notre Dame, MBA from the University of Pittsburgh, and PhD in Business Administration from The Ohio State University. Bob is currently the Academic Director for the Petroleum Land Management concentration. Prior to joining Haskayne, Bob was Education Director for Management Horizons Data Systems in Columbus, Ohio. He has taught Strategic Decision-Making for MBAs as an Adjunct Professor for Mendoza College of Business at University of Notre Dame. 
                p
                  | Bob teaches the capstone senior Business Strategy course for undergraduate students, Management Education for doctoral students, first-week intensive Strategy course for EMBAs, major project management course for EMBAs, and executive education programs. Bob particular areas of research interest include time management, telework, manager as coach, and the future environment of business. 
                p
                  | Bob is currently researching virtual work and telework in Calgary, a continuation of his previous research. Bob's work has been published in Growing the Virtual Workplace: The Integrative Value Proposition for Telework by Verbeke, Schulz, Greidanus, Hambley , a book published by Edward Elgar in 2008. He has won 21 outstanding teaching and student service awards and has been named to 7 Who's Who publications. 
                p
                  | Bob coached undergraduate student intercollegiate competition teams to 73 national championships and ranked #1 or #2 overall for 31 consecutive years, won 2 world-level undergraduate titles, and won 3 world-level MBA championships. In his spare time he enjoys golf. 
                // a(href='#') More +
              .clr
              #Mithun.ourstoryRow
              .ourstoryRowLeft
                .ourstoryRowLeftImg
                  img(src='images/about/Mithun.jpg', alt='', style='width:175px;')
                .ourstoryRowLeftText
                  h2 Mithun Das
                  p Software Ninjaneer
                  // a(href='mailto:mithun.das@raincheck.it') mithun.das@raincheck.it
              .ourstoryRowRight
                p
                  | Mithun Das, a Physics Graduate from Calcutta University is a seasoned Software Engineer working with CakePHP and Node.JS under Derya's guidance. He is currently expanding his horizons in open source software development in web and mobile applications. Primarily interested in building applications across platforms and server environments, his skill set is as broad as it is deep.
                // a(href='#') More +
              .clr
              #Kruthi.ourstoryRow
              .ourstoryRowLeft
                .ourstoryRowLeftImg
                  img(src='images/about/Kruthi.jpg', alt='', style='width:175px;')
                .ourstoryRowLeftText
                  h2 Kruthi Venkatesh
                  p Research Ninja
                  // a(href='mailto:mithun.das@raincheck.it') mithun.das@raincheck.it
              .ourstoryRowRight
                p
                  | Kruthi venkatesh has a masters degree in Micro-Biology with genetics as a specialization currently focusing on researching about sourcing of artists and artistic schools.Kruthi held the research executive role in the area of American Type Culture Collection at LGC Promochem India pvt ltd, a leading phamseutical UK based MNC,for 2 years before moving to ArtMojo. Hard to believe but She was once reprimanded for being “too creative” and is on a mission to help others to stop waiting and start creating a career by design like she did. Kruthi is active in a variety of civic and cultural organizations including Rotary Club, the Women's Welfare Associations, and also with the Cultural & Music Academy of Indian Karnatic music. Outside of professional interests, she travels widely, reads, writes, and enjoys living in hill station with her family.
                // a(href='#') More +
              .clr
              
              
            .clr
    //
      / Container
    include ../elements/footer
    //
      / Footer