extends ../layout

block content
    include ../elements/header
    //
      / Header
    //
      Container
    landingContainer
      .landingPageContent
        h2 Privacy Policy
        h3
          | Coming Soon!
        
          br
    //
      / Container
    include ../elements/footer
    //
      / Footer
