extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/admin_table.css')
    script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
    script(type='text/javascript', src='/javascripts/uiControllers/School.js')
    script(type='text/javascript')
            $(function() {                    
                   
                    loadMySchools();
            });
                    
            
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        
        .content
          .contentIn
            .ourstory
              .ourstoryHeader
                h2 My Schools
              p
                landingContainer
                    div
                        #add
                           a(href="/schools/operator/add", class="clickButtons_v2") Add School
                    .listDiv
                        #schoolList

            
    //
      / Container
    include ../elements/footer
    //
      / Footer
