extends ../layout

block content
    script(type='text/javascript', src='/javascripts/uiControllers/Category.js')
        
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        
        .loginContent
          .contentIn
            .ourstoryHeader
              h2
                | Add category
                span It’s free & always will be.
            .signupForm
              form#categoryAddFrm( method='post', action='/category/doadd', name='categoryAddFrm', onsubmit='return validateCategoryFrm();')
                
                .signupFormRow
                  label Name:
                  input(type="text", name="name", id="name")
                
                  span
                    | Admin has all the rights to deactivate the category without any prior notice to the user. .
                  input(type='submit', value='Post', name='')
                .clr
            .clr
          .clr
    //
      / Container
    include ../elements/footer
    //
      / Footer
